@media screen and (max-width: 991px) {
    #home h1 {
        font-size: 3.5em;
    }

    #about {
    	padding: 50px 20px;
    }

    .about-card {
    	height: 440px;
    	margin-bottom: 40px;
    }

    .about-card-info {
    	padding: 10px 20px;
    }

    #interests .col-lg-3 {
    	margin: 50px 0;
    }

    .education-box {
        height: 150px !important;
    }

    .education-box .edu-icon, .education-box .edu-body {
    	height: 150px !important;
    }

    .testimony {
    	margin-top: 10px;
    }

    #projects {
    	padding-top: 20px;
    	padding-bottom: 20px;
    }

    #projects .section-title {
    	padding-bottom: 0;
    }

    .long-logo {
        height:130px !important;
        padding-top: 20px !important;
    }

    section {
       background-attachment:initial;
    } 
    
    .col-centered {
        display:inline-block;
        float:none;
        /* reset the text-align */
        text-align:left;
        /* inline-block space fix */
        margin-right:-4px;
    }
}

@media screen and (max-width: 480px) {
    .education-box {
        height: 180px !important;
    }

    .education-box .edu-icon, .education-box .edu-body {
        height: 180px !important;
    }
}

@media screen and (max-width: 352px) {
    .education-box {
        height: 230px !important;
    }

    .education-box .edu-icon, .education-box .edu-body {
        height: 230px !important;
    }
}